doctype html
html
    head
        title AppPorts
        meta(content="text/html; charset=gb2312", http-equiv="Content-Type")
        meta(http-equiv="X-UA-Compatible", content="IE=EDGE")
        style.
            body, html {
                height: 100%;
                width: 100%;
            }
            * {
                margin: 0;
                padding: 0;
                border: 0;
            }
            #app {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                overflow: auto;
            }
    body
        h1#username
        img#avatar
        #app
            
        script(src="//g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js")
        script(src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js")
        

        //- link(rel='stylesheet', href="http:////b817c3d5.ngrok.io/app.css?r=#{new Date().getTime()}")
        script(src="http:////b817c3d5.ngrok.io/app.js?r=#{new Date().getTime()}")
        //- script(src="http://localhost:5000/app.js?r=#{new Date().getTime()}")
        
        script.
            var jsApiList = [
                'device.notification.confirm',
                'device.notification.alert',
                'device.notification.prompt',
                'biz.chat.chooseConversation',
                'biz.ding.post',
                'biz.user.get'
            ];

            if(window.app || window.app.init || window.app.jsApiList) {
                jsApiList = jsApiList.concat(window.app.jsApiList);
            }

            //文档见http://open.dingtalk.com/doc/#权限验证配置-beta
            dd.config({
                agentId: '#{agentid}',
                corpId: '#{corpId}',
                timeStamp: '#{timeStamp}',
                nonceStr: '#{nonceStr}',
                signature: '#{signature}',
                jsApiList: jsApiList
            });

            dd.ready(function() {
                console.log('dingding api is ready');
                window.app && window.app.init && window.app.init();
                
                dd.biz.user.get({
                    //- corpId:'xxx', // 可选参数，如果不传则使用用户当前企业的corpId。
                    onSuccess: function (user) {
                        alert(user);
                        alet(JSON.stringify(info));
                        alert(user.avatar + '_' + user.emplld);
                        $('#username').html(user.nickName);
                        $('#avatar').attr('src', user.avatar);
                    },
                    onFail: function (err) {
                        alert('userGet fail: ' + JSON.stringify(err));
                    }
                });
            });

            dd.error(function(err) {
                alert('dd error: ' + JSON.stringify(err));
            });
            
        

        
            
        