doctype html
html
    head
        title AppPorts
        meta(content="text/html; charset=gb2312", http-equiv="Content-Type")
        meta(http-equiv="X-UA-Compatible", content="IE=EDGE")
    body
        .wrapper.mt20
            .row
                .col-sm-5.col-xs-12
                    .f14.lh200 钉钉测试
                    h1#username
                    img#avatar

        script(src="//g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js")
        script(src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js")
        script(src="http:////b817c3d5.ngrok.io/ddapi.js?r=#{new Date().getTime()}")

        script.
            //文档见http://open.dingtalk.com/doc/#权限验证配置-beta
            dd.config({
                agentId: '#{agentid}',
                corpId: '#{corpId}',
                timeStamp: '#{timeStamp}',
                nonceStr: '#{nonceStr}',
                signature: '#{signature}',
                jsApiList: [
                    'device.notification.confirm',
                    'device.notification.alert',
                    'device.notification.prompt',
                    'biz.chat.chooseConversation',
                    'biz.ding.post',
                    'biz.user.get'
                ]
            });

            dd.ready(function() {
                console.log('dingding api is ready');
                window.ddoc && window.ddoc.init && window.ddoc.init();
                return;

                dd.biz.user.get({
                    //- corpId:'xxx', // 可选参数，如果不传则使用用户当前企业的corpId。
                    onSuccess: function (user) {
                        //- alert(user);
                        //- alet(JSON.stringify(info));
                        //- alert(user.avatar + '_' + user.emplld);
                        $('#username').html(user.nickName);
                        $('#avatar').attr('src', user.avatar);
                    },
                    onFail: function (err) {
                        alert('userGet fail: ' + JSON.stringify(err));
                    }
                });
            });

            dd.error(function(err) {
                alert('dd error: ' + JSON.stringify(err));
            });
        