doctype html
html
    head
        title AppPorts
        meta(content="text/html; charset=gb2312", http-equiv="Content-Type")
        meta(http-equiv="X-UA-Compatible", content="IE=EDGE")
    body
        .wrapper.mt20
            .row
                .col-sm-5.col-xs-12
                    .f14.lh200 钉钉测试
                    h3#username
                    img#avatar

        script(src="//g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js")
        script(src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js")
        
        script.
            //文档见http://open.dingtalk.com/doc/#权限验证配置-beta
            dd.config({
                agentId: '#{agentid}',
                corpId: '#{corpId}',
                timeStamp: '#{timeStamp}',
                nonceStr: '#{nonceStr}',
                signature: '#{signature}',
                jsApiList: [
                    'device.notification.confirm',
                    'device.notification.alert',
                    'device.notification.prompt',
                    'biz.chat.chooseConversation',
                    'biz.ding.post',
                    'biz.user.get'
                ]
            });

            dd.ready(function() {
                alert('dd ready');

                dd.biz.user.get({
                    //- corpId:'xxx', // 可选参数，如果不传则使用用户当前企业的corpId。
                    onSuccess: function (info) {
                        var user = JSON.stringify(info);
                        $('#username').html(user.emplld);
                        $('#avatar').attr('src', user.avatar);
                    },
                    onFail: function (err) {
                        alert('userGet fail: ' + JSON.stringify(err));
                    }
                });

                //- document.addEventListener('pause', function() {
                //-     alert('pause');
                //- });

                //- document.addEventListener('resume', function() {
                //-     alert('resume');
                //- });

                //- var head = document.querySelector('h1');
                //- head.innerHTML = head.innerHTML + ' It rocks!';

                //- dd.device.notification.alert({
                //-     message: 'dd.device.notification.alert',
                //-     title: 'This is title',
                //-     buttonName: 'button',
                //-     onSuccess: function(data) {
                //-         alert('win: ' + JSON.stringify(data));
                //-     },
                //-     onFail: function(err) {
                //-         alert('fail: ' + JSON.stringify(err));
                //-     }
                //- });
            });

            dd.error(function(err) {
                alert('dd error: ' + JSON.stringify(err));
            });
        